

/*************************************
 *
 *           Body
 *
 *************************************/
html {
    font-family: 'goudy_bookletter_1911regular' sans-serif;
    src: url('goudy_bookletter_1911-webfont.eot');
    src: url('goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('goudy_bookletter_1911-webfont.woff') format('woff'),
         url('goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('goudy_bookletter_1911-webfont.svg#goudy_bookletter_1911regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    text-align: center;
    height: 100%;
    margin: 0 auto;
    background-image: url('../img/wall_05.jpg');
}

.container{
    background-color: #c2e7f7;
    width: 75%;
    margin: 0 auto;
    box-shadow: 5px 5px 40px #000;
    padding: 10px 0 20px;
    border-radius: 0 0 15px 15px;
}
.container p{
    padding: 5% 10%;
    line-height: 1.5em;
}

/*************************************
 *
 *          Header
 *
 *************************************/


.header h1{
    font-size: 3.6em;
    margin-bottom: 0;
    color: #0d395b;
}
.header h3{
    font-size: 1.75em;
    color: #666;
    margin-top: 18px;
}
.logo{
    float: left;
    margin: 10px 0 0 10%;
}
 


/*************************************
 *
 *           Footer
 *
 *************************************/

.sml {
    font-size: .7em;
    color: #555;
}

/*************************************
 *
 *          Navigation
 *
 *************************************/
.navbar{
    list-style: none;
    padding-left: 0px;
}
.navbar a{
    color: #fff;
}
.nav-li{
    font-size: .8em;
    letter-spacing: .1em;
    text-align: center;
    display: inline-block;
    margin: 2px 2em;
    background: #1094a4;
    border-radius: 50%;
    background: -webkit-radial-gradient(circle, #6CB4D3, #133442);
    /*background-image: url('../img/bubbleglare.png');*/
}
/* trying to get the bubbles to bounce! */
@-webkit-keyframes bubble-bounce {
    25% {   -webkit-transform: translateY(-3px);    }
    75% {   -webkit-transform: translateY(3px);   }
}

.nav-circle-1{
    padding: 34px 15px;
    -webkit-animation: bubble-bounce 5.6s ease-in-out infinite;
}
.nav-circle-2{
    padding: 29px 15px;
    -webkit-animation: bubble-bounce 4.7s ease-in-out infinite;
}
.nav-circle-3{
    padding: 30px 15px;
    -webkit-animation: bubble-bounce 6.1s ease-in-out infinite;
}
.nav-circle-4{
    padding: 26px 15px;
    -webkit-animation: bubble-bounce 5.3s ease-in-out infinite;
}
